.form-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.form-field {
  flex: 1;
}

mat-form-field {
  width: 100%;
}

/* Oculta los botones de incremento/decremento en Webkit (Chrome, Safari) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Oculta los botones de incremento/decremento en Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
